.coming_soon > div > h2 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  background-image: url(../public/giphy.webp);
  background-size: cover;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.coming_soon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.day,
.hour,
.minute,
.seconds {
  font-size: 1.7rem;
}

/* Portrait*/

@media only screen and (max-width: 654px) and (max-aspect-ratio: 13/9) {
  .app {
    margin: 0px 8px;
  }
  .coming_soon > div > h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) and (max-aspect-ratio: 13/9) {
  .coming_soon > div > h2 {
    font-size: 40px;
  }
}
